$body-font-size: 1.5rem; // 15px

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2'),
        url('../fonts/poppins-regular.woff') format('woff'),
        url('../fonts/poppins-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-extralight.woff2') format('woff2'),
        url('../fonts/poppins-extralight.woff') format('woff'),
        url('../fonts/poppins-extralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-semibold.woff2') format('woff2'),
        url('../fonts/poppins-semibold.woff') format('woff'),
        url('../fonts/poppins-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}