// Import typography variables
@use '../base/typography' as t;

// Import mixins and variables
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

.card-section {
    margin: 5rem auto 0;
    min-width: 85%;
    max-width: 30rem;

    @include m.breakpoint-sm() {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(15rem, 40rem));
        grid-template-rows: 26rem 26rem;
        grid-gap: 2.5rem;
        max-width: initial;
        justify-content: center;
    }

    @include m.breakpoint-md() {
        flex: 1;
    }

    @include m.breakpoint-lg() {
        grid-template-columns: repeat(3, minmax(15rem, 40rem));
        grid-template-rows: initial;
        align-items: center;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    @include m.orientation-landscape() {
        grid-template-rows: initial;
    }
}